<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title></title>
</head>
<body>

<div th:fragment="content">
  <th:block th:if="${userErrorMessage != null}">
    <!--/* Shown when we can't find the user for some reason */-->
    <div class="panel panel-danger">
      <header class="panel-heading">
        <h3 class="panel-title">Error</h3>
      </header>

      <div class="panel-body" th:text="${userErrorMessage}">
        Nope.
      </div>
    </div>
  </th:block>

  <th:block th:if="${userErrorMessage == null}">
    <form th:action="@{/account/edit}" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="foo@example.com" />
      </div>

      <div class="form-group">
        <label for="timeZone">Time zone</label>
        <select id="timeZone" class="form-control" name="timeZone">
          <option value="UTC">UTC (GMT)</option>
          <option th:each="tz : ${tzs.keySet()}"
                  th:value="${tz}"
                  th:text="${tzs.get('__${tz}__')}"
                  th:selected="${user.timeZone == tz}">EST</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dateFormat">Date and time format</label>
        <input class="form-control" id="dateFormat" name="dateFormat" placeholder="yyyy-MM-dd HH:mm Z" th:value="${user.datetimeFormat}" />
        <p class="help-block">
          Sets the format that will be used to show dates and times. See the "Help" box for details.
        </p>
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Updating...">Update</button>
        <script>
          $(function() {
            $(".form-group button[type=submit]").on("click", function() {
              $(this).button("loading");
            });
          });
        </script>
      </div>
    </form>

    <div class="panel panel-info">
      <header class="panel-heading">
        <a href="#help" class="panel-title" data-toggle="collapse">Help</a>
      </header>
      <div id="help"  class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            All letters 'A' to 'Z' and 'a' to 'z' are reserved as pattern letters.
            The following pattern letters are defined:
          </p>
          <pre>  Symbol  Meaning                     Presentation      Examples
          ------  -------                     ------------      -------
           G       era                         number/text       1; 01; AD; Anno Domini
           y       year                        year              2004; 04
           D       day-of-year                 number            189
           M       month-of-year               number/text       7; 07; Jul; July; J
           d       day-of-month                number            10

           Q       quarter-of-year             number/text       3; 03; Q3
           Y       week-based-year             year              1996; 96
           w       week-of-year                number            27
           W       week-of-month               number            27
           e       localized day-of-week       number            2; Tue; Tuesday; T
           E       day-of-week                 number/text       2; Tue; Tuesday; T
           F       week-of-month               number            3

           a       am-pm-of-day                text              PM
           h       clock-hour-of-am-pm (1-12)  number            12
           K       hour-of-am-pm (0-11)        number            0
           k       clock-hour-of-am-pm (1-24)  number            0

           H       hour-of-day (0-23)          number            0
           m       minute-of-hour              number            30
           s       second-of-minute            number            55
           S       fraction-of-second          fraction          978
           A       milli-of-day                number            1234
           n       nano-of-second              number            987654321
           N       nano-of-day                 number            1234000000

           V       time-zone ID                zone-id           America/Los_Angeles; Z; -08:30
           z       time-zone name              zone-name         Pacific Standard Time; PST
           X       zone-offset 'Z' for zero    offset-X          Z; -08; -0830; -08:30; -083015; -08:30:15;
           x       zone-offset                 offset-x          +0000; -08; -0830; -08:30; -083015; -08:30:15;
           Z       zone-offset                 offset-Z          +0000; -0800; -08:00;

           p       pad next                    pad modifier      1

           '       escape for text             delimiter
           ''      single quote                literal           '
           [       optional section start
           ]       optional section end
           {}      reserved for future use
          </pre>

          <p>The count of pattern letters determine the format.</p>

          <p>
            <b>Text</b>: The text style is determined based on the number of pattern letters used.
            Less than 4 pattern letters will use the <code>short form</code>.
            Exactly 4 pattern letters will use the <code>full form</code>.
            Exactly 5 pattern letters will use the <code>narrow form</code>.
          </p>

          <p>
            <b>Number</b>: If the count of letters is one, then the value is printed using the minimum number
            of digits and without padding. Otherwise, the count of digits is used as the width of the output field.
          </p>

          <p>
            <b>Year</b>: The count of letters determines the minimum field width below which padding is used.
            If the count of letters is two, then a <code>reduced</code> two digit form is used; this outputs the rightmost two digits.
          </p>
        </div>
      </div>
    </div>
  </th:block>
</div>

</body>
</html>