<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div th:fragment="fragment (prizeItem, isRunning)" th:remove="tag">
    <div th:if="${prizeItem}" class="text-center prize-item">
      <i data:id="${prizeItem.gameItem.id}"
         data:name="${prizeItem.gameItem.name}"
         data:description="${prizeItem.gameItem.description}"
         data:count="${prizeItem.count}"
         data:level="${prizeItem.gameItem.minLevel}"
         data:rarity="${prizeItem.gameItem.rarity}"></i>

      <!--/* So we don't have to have a store for testing */-->
      <div th:if="${prizeItem.gameItem.id == 2952}" th:remove="tag">
        <img class="gw-item-icon clickable" th:src="@{/local/gw2-icons/2952.png}" src="gw2-icons/2495.png" />
      </div>
      <div th:if="${prizeItem.gameItem.id != 2952}" th:remove="tag">
        <img class="gw-item-icon clickable" th:src="@{/store/icons/__${prizeItem.gameItem.id}__.png}" src="gw2-icons/2495.png" />
      </div>

      <br />
      <span class="badge" th:text="${prizeItem.count}" th:if="${prizeItem.count > 1}">1</span>
      <!--/* TODO: position the badge over the icon as it is in-game */-->
    </div>

    <div th:if="${prizeItem == null}" class="text-center">
      <img class="gw-item-icon" th:src="@{/local/images/missing-item-icon.jpg}" src="missing-item-icon.jpg" />
    </div>

    <th:block th:if="${not isRunning}">
      <div sec:authorize="hasRole('ROLE_ADMIN')" class="text-center remove-item-btn-container">
        <a class="btn btn-xs btn-default remove-item-btn">Remove</a>
      </div>
    </th:block>
  </div>
</body>
</html>